@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Poppins:ital,wght@1,700&family=Quicksand:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#131419;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow: hidden;
}
body::before{
  content: '';
  position: absolute;
  width:8%;
  height: 100vh;
  transform: translateY(16rem) rotate(-50deg);
  background-color: #03a9f4;
  bottom: 0;
  left: 0;
}
.todo-container::before{
  content: '';
  position: absolute;
  width:8%;
  height: 100vh;
  transform: translateY(-16rem) rotate(-50deg);
  background-color: #03a9f4;
  top: 0;
  right: 0;
}
header{
  color: #03a9f4;
  font-size: 1.5rem;
}

header,form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,form button{
  padding: 0.9rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 200;
  border: none;
  /* background-color: white; */
}
form input{
  border-radius: 5px;
  background-color: #131419;
  border: none;
  outline: none;
  color: #03a9f4;
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
  inset 5px 5px 15px rgba(0,0,0,0.5)
}
form button{
  margin-left: 10px;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  color: #03a9f4;
  background-color: #131419;
  box-shadow:  -5px -5px 10px rgba(255,255,255,0.05),
   5px 5px 15px rgba(0,0,0,0.5)
}

form button{
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover{
  background-color:#03a9f4;
  color: black;
  box-shadow:  -4px -4px 7px rgba(28, 85, 244, 0.05),
   4px 4px 12px rgba(58, 149, 246, 0.5)
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo-list{
  min-width: 30%;
  list-style: none;
}
.todo{
  margin: 0.5rem;
  padding-left: 0.5rem;
  background-color: #131419;
  color: #03a9f4;
  box-shadow:  -5px -5px 10px rgba(255,255,255,0.05),
   5px 5px 15px rgba(0,0,0,0.5);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.todo li{
  flex: 1;
}
.trash-btn,.complete-btn{
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.trash-btn{
  color: red;
  background-color: #131419;
  box-shadow:  -5px -5px 10px rgba(255,255,255,0.05),
   5px 5px 15px rgba(0,0,0,0.5);
}
.complete-btn{
  color: rgb(73,204,73);
  background-color: #131419;
  box-shadow:  -5px -5px 10px rgba(255,255,255,0.05),
   5px 5px 15px rgba(0,0,0,0.5);
}
.todo-item{
  padding: 0rem 0.5rem;
}
.fa-trash,.fa-check{
  pointer-events: none;
}
.completed{
  background-color: #131419;
  color: #03a9f4;
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
   inset 5px 5px 15px rgba(0,0,0,0.5);
  text-decoration: line-through;
  opacity: 0.5;
}
.fall{
  animation: shake 0.5s ease-in-out;
  opacity: 0;
}
@keyframes shake{
  10%{
    transform: translateX(-5%);
  }
  30%{
    transform: translateX(5%);
  }
  50%{
    transform: translateX(-7.5%);
  }
  70%{
    transform: translateX(7.5%);
  }
  90%{
    transform: translateX(-5%);
  }
  100%{
    transform: translateX(0%);
  }
}
.section{
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 8rem;
}
.section span{
  font-size: 1.2rem;
  cursor: pointer;
}
.active{
  color: #03a9f4;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.date{
  color:#49bdf3;
  position: absolute;
  font-size: 2.5rem;
  top: 3rem;
  left:6rem;
}
@media screen and (max-width:600px){
  header{
    font-size: 1rem;
  }
  form input{
    font-size: 1rem;
    width: 65%;
    padding: 0.6rem 0.9rem;
  }
  form button{
    padding:0.4rem 0.7rem ;
    margin: 2px;
  }
  .trash-btn,.complete-btn{
    font-size: 0.6rem;
  }
  .section{
    gap: 2.5rem;
    padding: 0 0.5rem 1.5rem 0.5rem ;
  }
  .date{
    font-size: 1rem;
    top: 1.5rem;
    left: 0.8rem;
  }
  body{
    overflow: hidden;
    height: 100%;
  }
  body::before{
    visibility: hidden;
  }
}
.clearAll{
  border: none;
  outline: none;
  margin-left: 10px;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  color: #03a9f4;
  background-color: #131419;
  box-shadow:  -5px -5px 10px rgba(255,255,255,0.05),
   5px 5px 15px rgba(0,0,0,0.5);
   margin-top: 1rem;
   cursor: pointer;
   visibility: hidden;
}
